.Container {
    width: 100%;
    border: 1px solid #aaa;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 15px;

    &:hover {
        &:hover {
            box-shadow: 0 0 5px var(--mantine-color-blue-7);
        }
    }
}

.Content {
    align-items: center;
    justify-content: center;
    padding: 16px 32px;
}

.Name {
    text-align: center;
    color: #000;
}

.Area {
    color: #888;
    font-size: small;
}
